<IfModule mod_rewrite.c>
    RewriteEngine On
    AllowOverride All
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^frontend/(.*)$ /frontend/$1 [L]
</IfModule>
