#loginDiv{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 74%;
    background-color: #ffffffd6;
    padding: 23px;
    border-radius: 16px;
}

.container .six.columns{
    width: 100% !important;
}

.container{
    margin-top: 4% !important;
}

label{
    text-align: left !important;
}

h4{
    text-align: center;
    font-size: xxx-large !important;
    padding-top: 5%;
    color: #161B33;
}

input{
    border-bottom: solid !important;
    text-align: initial !important;
}

.u-full-width{
    border-bottom: solid !important;
    background-color: #0c252b00 !important;
}

.border-bottom {
    position: relative;
  }

  body {
    background-image: url('../css/pexels-leeloothefirst-5386754.jpg');
    background-color: rgba(255, 255, 255, 0.2);
    background-size: cover;
}

form{
    padding-top: 15% !important;
}