<!DOCTYPE html>
<!-- file: views/calendario/create.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/footer.css" />
    {{> navbar}}
</head>
<body>
 <div class="container">
  <div class="row">
   <div class="eleven columns" style="margin-top: 10%">
    <h2>{{title}}</h2>
    <form action="/calendario" method="post">
     <div class="row">
      <div class="six columns">
       <label for="titulo">Título</label>
       <input class="u-full-width" type="text" 
          name="titulo">
      </div>
      <div class="six columns">
       <label for="descripcion">Descripción</label>
       <input class="u-full-width" type="text" 
          name="descripcion">
      </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="fecha">Fecha</label>
       <input class="u-full-width" type="date" 
          name="fecha" 
          value="{{ $ano }}-{{ $mes }}-{{ $dia }}">
      </div>
      <div class="six columns">
       <label for="hora_inicio">Hora de Inicio</label>
       <input class="u-full-width" type="time" 
          name="hora_inicio">
      </div>
     </div>
     <div class="row">
        <div class="six columns">
            <label for="hora_fin">Hora de Finalizacion</label>
            <input class="u-full-width" type="time" 
               name="hora_fin">
           </div>
      <div class="six columns">
       <label for="ubicacion">Ubicación</label>
       <input class="u-full-width" type="text" 
          name="ubicacion">
      </div>
     </div>
     <input class="button-primary" type="submit" value="Create">
    </form>
   </div>
  </div>
 </div>
 {{> footer}}
</body>
</html>
