<!DOCTYPE html>
<!-- file: views/calendario/edit.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
{{> navbar}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/footer.css" />

</head>
<body>
 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 2%">
    <h2>{{title}}</h2>

    <form action="/calendario/{{id}}" method="POST">
	 <input type="hidden" name="_method" value="PUT">
     <div class="row">
      <div class="six columns">
       <label for="tituloInput">Titulo</label>
       <input class="u-full-width" type="text"
          name="titulo" value="{{titulo}}">
      </div>
      <div class="six columns">
       <label for="descripcionInput">Descripcion</label>
       <input class="u-full-width" type="text"
          name="descripcion" value="{{descripcion}}">
      </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="fechaInput">Fecha</label>
       <input class="u-full-width" type="text"
          name="fecha" value="{{fecha}}">
      </div>
      <div class="six columns">
       <label for="horaInicioInput">Hora Inicio</label>
       <input class="u-full-width" type="text"
         name="hora_inicio" value="{{hora_inicio}}">
      </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="horaFinInput">Hora Fin</label>
       <input class="u-full-width" type="text"
          name="hora_fin" value="{{hora_fin}}">
      </div>
      <div class="six columns">
       <label for="ubicacionInput">Ubicacion</label>
       <input class="u-full-width" type="text"
          name="ubicacion" value="{{ubicacion}}">
      </div>
     </div>
     <input class="button-primary" type="submit" value="Update">
    </form>

   </div>
  </div>
 </div>
 {{> footer}}
</body>
</html>
