<!DOCTYPE html>
<!-- file: views/reunion/index.html -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/reuniones.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>{{title}}</title>
    {{> navbar}}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div style="margin-top: 3%">
          <h2>{{title}}</h2>
          <a class="button button-primary" href="/calendario/create"
            >Crear Reunion</a>
          {{#empty}}
          <a style="float: right">No hay reuniones registradas</a>
          {{/empty}} {{^empty}}
          <div class="card-container">
            {{#reuniones}}
            <div class="card">
              <div class="card-header">
                <h2>{{titulo}}</h2>
              </div>
              <div class="card-body">
                <p><strong>Descripción:</strong> {{descripcion}}</p>
                <p><strong>Fecha:</strong> {{dia}}/{{mes}}/{{anio}}</p>
                <p><strong>Hora Inicio:</strong> {{hora_inicio}}</p>
                <p><strong>Hora Fin:</strong> {{hora_fin}}</p>
                <p><strong>Ubicación:</strong> {{ubicacion}}</p>
              </div>
              <div class="card-footer">
                <a class="button" href="calendario/{{id}}">Show</a>
                <a class="button" href="calendario/{{id}}/edit">Edit</a>
                <a class="button" href="calendario/{{id}}/delete">Delete</a>
              </div>
            </div>
            {{/reuniones}}
          </div>
          {{~empty}}
        </div>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
